.calculadora{
    background-color: #E6E6E6;
    padding: 0 30px 30px 30px;
    margin-top: 50px;

    h1{
        text-transform: uppercase;
    }

    .calculadora-tela{
        padding: 30px 0 30px 0;
        .tela{
            height: 50px;
            width: 330px;
            border: none;
        }
    }

    .teclas{

        background-color: #FAFAFA;
        height: 50px;
        width: 75px;
        margin: 4px;

        font-weight: bold;
    }
}