@import "../../source/components/bootstrap/scss/bootstrap";
@import "../components/components-font-awesome/scss/font-awesome";



$azul: #477474;
$verde: #84a341;
$cinza: #828282;


@font-face {
    font-family: 'nunito-bold';
    src: url('../fonts/nunito-black.woff') format('woff');
      
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'nunito-semi';
    src: url('../fonts/NunitoSans-SemiBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


.botao{
    button{
        text-decoration: none;
        color: #fff;

        a{
                    text-decoration: none;
        color: #fff;
        }
    }
}




@import url('https://fonts.googleapis.com/css?family=Nunito');

@fontface{

}

body{
     font-family: 'Nunito Sans', sans-serif;
}

p{
    font-family: 'nunito-semi', sans-serif;

}

a{
    text-decoration: none;
}

h2{
    font-family: 'nunito-bold';
    color: #fff;
}


@mixin anima-slow {
    -o-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -khtml-transition: all 0.3s linear;
    -webkit-transition: all 0.3s linear;
    -ms-transition: all 0.3s linear;
    transition: all 0.3s linear;
}

@mixin anima-normal {
    -o-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -khtml-transition: all 0.2s linear;
    -webkit-transition: all 0.2s linear;
    -ms-transition: all 0.2s linear;
    transition: all 0.2s linear;
}

@mixin anima-fast {
    -o-transition: all 0.1s linear;
    -moz-transition: all 0.1s linear;
    -khtml-transition: all 0.1s linear;
    -webkit-transition: all 0.1s linear;
    -ms-transition: all 0.1s linear;
    transition: all 0.1s linear;
}

::-webkit-scrollbar {
    width: 6px;
}
::-webkit-scrollbar-track {
    background-color: $azul;
}
::-webkit-scrollbar-thumb {
    background-color: $verde;
    border-radius: 6px;
    cursor: pointer;
}
::-webkit-scrollbar-thumb:hover {
	
}

.logo_text{
    position: absolute;
    left: -99px;
    top: -99px;
    text-indent: -9999px;
}


//CALCULADORA
@import "calculadora";
